/**
 *
 */
 
.main .content .tab-panel{margin: 20px 0px 0px;padding: 0px 15px;}
.main .content .tab-panel li{list-style: none;display: none;}
.main .content .tab-panel li.selected{display: block;}
label{display: block;}
label b{color: #c33610;}