/**
 *
 */
.total-info{margin: 15px;}
.total-info h4{background-color: #DEEFFB;padding: 15px;}
.total-info h4 span{margin-right: 30px;font-weight: normal;color: #999;}
.total-info h4 span b{color: #333;}
