<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.justfresh.xiudoua.dao.JfCmsFilmImagesMapper" >
  <resultMap id="BaseResultMap" type="com.justfresh.xiudoua.model.JfCmsFilmImages" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="film_id" property="filmId" jdbcType="INTEGER" />
    <result column="film_image" property="filmImage" jdbcType="VARCHAR" />
    <result column="reorder" property="reorder" jdbcType="INTEGER" />
    <result column="is_default" property="isDefault" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, film_id, film_image, reorder, is_default
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.justfresh.xiudoua.model.JfCmsFilmImagesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from jf_cms_film_images
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from jf_cms_film_images
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from jf_cms_film_images
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.justfresh.xiudoua.model.JfCmsFilmImagesExample" >
    delete from jf_cms_film_images
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.justfresh.xiudoua.model.JfCmsFilmImages" >
    insert into jf_cms_film_images (id, film_id, film_image, 
      reorder, is_default)
    values (#{id,jdbcType=INTEGER}, #{filmId,jdbcType=INTEGER}, #{filmImage,jdbcType=VARCHAR}, 
      #{reorder,jdbcType=INTEGER}, #{isDefault,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.justfresh.xiudoua.model.JfCmsFilmImages" >
    insert into jf_cms_film_images
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="filmId != null" >
        film_id,
      </if>
      <if test="filmImage != null" >
        film_image,
      </if>
      <if test="reorder != null" >
        reorder,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="filmId != null" >
        #{filmId,jdbcType=INTEGER},
      </if>
      <if test="filmImage != null" >
        #{filmImage,jdbcType=VARCHAR},
      </if>
      <if test="reorder != null" >
        #{reorder,jdbcType=INTEGER},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.justfresh.xiudoua.model.JfCmsFilmImagesExample" resultType="java.lang.Integer" >
    select count(*) from jf_cms_film_images
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update jf_cms_film_images
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.filmId != null" >
        film_id = #{record.filmId,jdbcType=INTEGER},
      </if>
      <if test="record.filmImage != null" >
        film_image = #{record.filmImage,jdbcType=VARCHAR},
      </if>
      <if test="record.reorder != null" >
        reorder = #{record.reorder,jdbcType=INTEGER},
      </if>
      <if test="record.isDefault != null" >
        is_default = #{record.isDefault,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update jf_cms_film_images
    set id = #{record.id,jdbcType=INTEGER},
      film_id = #{record.filmId,jdbcType=INTEGER},
      film_image = #{record.filmImage,jdbcType=VARCHAR},
      reorder = #{record.reorder,jdbcType=INTEGER},
      is_default = #{record.isDefault,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.justfresh.xiudoua.model.JfCmsFilmImages" >
    update jf_cms_film_images
    <set >
      <if test="filmId != null" >
        film_id = #{filmId,jdbcType=INTEGER},
      </if>
      <if test="filmImage != null" >
        film_image = #{filmImage,jdbcType=VARCHAR},
      </if>
      <if test="reorder != null" >
        reorder = #{reorder,jdbcType=INTEGER},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.justfresh.xiudoua.model.JfCmsFilmImages" >
    update jf_cms_film_images
    set film_id = #{filmId,jdbcType=INTEGER},
      film_image = #{filmImage,jdbcType=VARCHAR},
      reorder = #{reorder,jdbcType=INTEGER},
      is_default = #{isDefault,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  	<!-- 按条件，查询最大ID -->
	<select id="selectMaxIdByExample" resultType="java.lang.Integer" parameterType="com.justfresh.xiudoua.model.JfCmsFilmImages">
		select max(id) from jf_cms_film_images
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	
</mapper>